* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/* standart reset */
/* skrifttyper */
.playfair-display {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboto-regular {
  font-family: "Roboto", serif;
  font-weight: 400;
  font-style: normal;
}

.bodoni-moda {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

/* så den scroller smotth i menuen */
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

/* forside */
.hero {
  height: 100vh;
  background-image: url("fotografier/hero.webp");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f3f3f3;
  text-align: center;
  position: relative;
  z-index: 500;
}
/* sektion under forside (lottiefile) */
.hunde {
  height: 30vh;
  top: 80px;
  padding: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 0;
}
/* menuen på forsiden */
#menuButton {
  background: none;
  border: none;
  color: #f3f3f3;
  cursor: pointer;
  font-size: 5cqw;
  font-family: "Playfair Display", serif;
  position: absolute;
  bottom: 10%;
}
#menuButton:hover {
  font-weight: 500;
}

#dropdownMenu {
  position: absolute;
  top: 30%;
  right: 0px;
  border-radius: 8px;
  overflow: hidden;
  padding: 10px 20px;
  font-family: "Playfair Display", serif;
  display: none; /* Starter skjult */
  width: 100vw;
  height: 50vh;
  align-items: end;
  z-index: 1000;
  background-color: none;
}
#dropdownMenu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#dropdownMenu ul li a {
  display: block;
  padding: 10px;
  color: #f3f3f3a0;
  text-decoration: none;
  font-size: 5cqw;
  font-weight: 100;
  font-family: "Playfair Display", serif;
}
#dropdownMenu ul li a:hover {
  font-weight: 500;
}
/* bagrund */
/* jeg har lavet en cirkel gradient, for at tilføje baggrunden lidt støj, og for at give det her moderne minimalistiske look. Det er en cirkel for at det ser mest naturligt ud, og så høj oppazity på farverne for at det bare lige kan nænnes */
body {
  background-color: #f3f3f3; /* Lys grå nuance */
  background-image: radial-gradient(circle, rgba(0, 0, 0, 0.08) 100%, rgba(0, 0, 0, 0.01) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  min-height: 100vh;
}

/* HEADER */
header {
  width: 100%;
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: 400;
  background-color: none;
}
/* emma, så man altid kan tilgå forsiden nemt */
.logo {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 5cqw;
  color: black;
  text-decoration: none;
}

.logo:hover {
  color: #424242;
}
/* general menu der skal være tilgeængelig hele tiden */
#menuButton2 {
  border: none;
  color: black;
  cursor: pointer;
  font-size: 4.5cqw;
  font-family: "Playfair Display", serif;
  position: absolute;
  left: 0%;
  top: 70%;
  background-color: #f3f3f300;
}
#menuButton2:hover {
  color: #424242;
}
#lukButton2 {
  background: none;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 5cqw;
  font-family: "Playfair Display", serif;
  position: absolute;
  left: 3%;
  top: 3%;
}
/* styling af menuen. Der kommer en gennemsigtig grading ad "solen" den skal matche til forsiden */
#dropdownMenu2 {
  position: absolute;
  background-color: #f3f3f3;
  background-image: radial-gradient(circle, rgb(255, 196, 0) 10%, rgba(0, 0, 0, 0.45) 100%);
  background-blend-mode: multiply;
  background-size: cover;
  min-height: 100vh;
  opacity: 95%;
  top: 0%;
  right: 0px;
  overflow: hidden;
  font-family: "Playfair Display", serif;
  width: 100vw;
  z-index: 999;
  display: none;
}

#dropdownMenu2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
  z-index: 1000;
}

#dropdownMenu2 ul li a {
  display: block;
  padding: 50px;
  color: black;
  text-decoration: none;
  font-size: 10cqw;
  font-weight: 100;
  font-family: "Playfair Display", serif;
  margin-top: 25%;
  z-index: 1000;
}

/* teksten bliver fed, så man ved den er interaktiv */
#dropdownMenu2 :hover {
  display: block;
  color: black;
  font-weight: 500;
  font-family: "Playfair Display", serif;
}

/* skrifttyper */
li {
  font-family: "Roboto", serif;
  line-height: 150%;
  font-size: 3.5cqw;
}

h1 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 5cqw;
  position: absolute;
  bottom: 15%;
  color: #f3f3f3;
}

h2 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bolder;
  text-align: center;
  font-size: 8cqw;
  padding: 20px;
  padding-bottom: 50px;
}

h3 {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  font-weight: 800;
  text-align: center;
  font-size: 7cqw;
}
h4 {
  font-family: "Playfair Display", serif;
  font-style: italic;
  font-weight: bold;
  text-align: left;
  font-size: 4cqw;
}

p {
  font-family: "Roboto", serif;
  line-height: 150%;
  font-size: 3.5cqw;
}

/* indhold på index */
#indhold1 {
  padding: 80px;
  padding-bottom: 0px;
}
/* indhold på resten af sitet */
#indhold {
  padding: 80px;
}
/* artikel billeder */
.screen {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(37, 37, 37);
}
/* billedtekst (link) */
.links {
  text-decoration: none;
  color: #474747;
  font-family: roboto;
  font-size: 2.5cqw;
  font-style: italic;
}
/* så man ved det er interaktivt */
.links:hover {
  font-weight: bolder;
}
/* så man ved det er interaktivt */
.site:hover {
  font-weight: bolder;
  color: #474747;
}
/* min løsning link */
.site {
  text-decoration: none;
  color: #000000;
  font-family: "Playfair Display", serif;
  font-size: 3.5cqw;
  font-weight: bold;
}
/* footeren, linje og tal på alle sider */
.linje {
  width: 90%;
  height: 1px;
  background-color: #343434;
  margin: 0 auto 10px;
}

.footer {
  text-align: center;
  padding: 20px 0;
  z-index: 1000;
}

#tal {
  text-align: center;
  margin: 50px 0;
}

#tal ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
}

#tal li {
  font-family: "Bodoni Moda", serif;
  font-style: italic;
  font-weight: bolder;
  font-size: 6cqw;
}

#tal a {
  text-decoration: none;
  color: black;
}
/* så man ved den er interaktiv */
#tal a:hover {
  color: #474747;
  font-weight: bolder;
}
/* next er pilene i footeren */
.next {
  font-size: 6cqw;
  font-weight: 100;
  font-family: "Bodoni Moda", serif;
  padding: 70px;
  opacity: 50%;
}
/* billeder om mig og cv */
.billeder {
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 20px;
}
/* margin og padding, blir mindre på ægte mobil */
@media only screen and (max-width: 428px) {
  #indhold1 {
    padding: 58px;
    padding-top: 0px;
  }
  #indhold {
    padding: 58px;
    padding-top: 40px;
  }
}
/*over 600-800px bredde, så tablet indtil det blir desktop*/
@media (min-width: 600px) and (max-width: 799px) {
  .logo {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 3cqw;
    color: black;
    text-decoration: none;
    padding: 10px;
  }
  /* general menu */
  #menuButton2 {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 2.8cqw;
    font-family: "Playfair Display", serif;
    position: absolute;
    top: 54%;
    left: 1%;
  }
  #lukButton2 {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 2cqw;
    font-family: "Playfair Display", serif;
    position: absolute;
    left: 1.5%;
    top: 2.5%;
  }
  #dropdownMenu2 {
    position: absolute;
    background-color: #f3f3f3; /* Lys grå nuance */
    background-image: radial-gradient(circle, rgb(255, 196, 0) 10%, rgba(0, 0, 0, 0.45) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 100vh;
    opacity: 95%;
    top: 0%;
    right: 0px;
    overflow: hidden;
    font-family: "Playfair Display", serif;
    display: none; /* Starter skjult */
    width: 100vw;

    z-index: 999;
  }
  #dropdownMenu2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #dropdownMenu2 ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 4cqw;
    font-family: "Playfair Display", serif;
    z-index: 1000;
    margin-top: 6%;
  }
  #dropdownMenu2 :hover {
    display: block;
    color: black;
    font-size: 5cqw;
    font-weight: 500;
    font-family: "Playfair Display", serif;
  }

  /* forside menu */
  #menuButton {
    background: none;
    border: none;
    color: #f3f3f3;
    cursor: pointer;
    font-size: 3cqw;
    font-family: "Playfair Display", serif;
    position: absolute;
    bottom: 43%;
    left: 1%;
  }

  #dropdownMenu {
    position: absolute;
    top: 55%;
    overflow: hidden;
    font-family: "Playfair Display", serif;
    display: none; /* Starter skjult */
    text-align: left;
    z-index: 1000;
    background-color: none;
  }
  #dropdownMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #dropdownMenu ul li a {
    display: block;
    color: #f3f3f3a0;
    text-decoration: none;
    font-size: 2cqw;
    font-weight: 100;
    font-family: "Playfair Display", serif;
  }

  /* skrifttyper */
  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 3cqw;
    position: absolute;
    color: #f3f3f3;
    bottom: 50%;
    left: 1%;
    text-align: left;
  }

  h2 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    font-size: 3cqw;
    padding: 40px;
  }

  h3 {
    font-family: "Bodoni Moda", serif;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    font-size: 7cqw;
  }
  /* artikel billeder */
  .screen {
    width: 100%;
    height: 100%;
    border: 1px solid rgb(37, 37, 37);
  }
  /* brødtekst */
  p {
    font-family: "Roboto", serif;
    line-height: 150%;
    font-size: 2.5cqw;
  }
  /* billedtekst (link) */
  .links {
    text-decoration: none;
    color: #474747;
    font-family: roboto;
    font-size: 4cqw;
    font-style: italic;
  }
  /* så man ved det er interaktivt */
  .links:hover {
    font-weight: bolder;
  }
  /* så man ved det er interaktivt */
  .site:hover {
    font-weight: bolder;
    color: #474747;
  }
  /* min løsning link */
  .site {
    text-decoration: none;
    color: #000000;
    font-family: "Playfair Display", serif;
    font-size: 8cqw;
    font-weight: bold;
  }
  /* general indhold */
  #indhold {
    padding: 150px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }
  /* index indhold */
  #indhold1 {
    padding: 40px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }
  /* om mig på desk. for at lave to kolonner, som mobil ikke indeholder */
  .content-section {
    display: flex;
    margin-bottom: 50px;
  }
  /* om mig og cv billeder */
  .billeder {
    flex: 1;
    padding: 50px;
    margin-top: 50px;
  }
  /* på desktop står de i to kolonner */
  .ommig,
  .cv {
    flex: 2;
    padding: 0px;
  }
  /* sektion under forsiden, lottiefile */
  .hunde {
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    width: 800px;
    height: 500px;
    left: 50%;
    transform: translateX(-50%);
    /* transform sikre at det er lige i midten */
  }

  /* billedtekst */
  .links {
    text-decoration: none;
    color: #474747;
    font-family: roboto;
    font-size: 1cqw;
    font-style: italic;
  }

  /* list, så det tekst jeg har i punktform */
  li {
    font-family: "Roboto", serif;
    line-height: 150%;
    font-size: 1.3cqw;
  }
  /* min løsning knap */
  .site {
    text-decoration: none;
    color: #000000;
    font-family: "Playfair Display", serif;
    font-size: 1.5cqw;
    font-weight: bold;
  }
}

/*over 800px bredde, så desktop*/
@media (min-width: 800px) {
  /* HEADER */
  /* emma */
  .logo {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 2cqw;
    color: black;
    text-decoration: none;
    padding: 10px;
  }
  /* general menu */
  #menuButton2 {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 1.8cqw;
    font-family: "Playfair Display", serif;
    position: absolute;
    top: 54%;
    left: 0.5%;
  }
  #lukButton2 {
    background: none;
    border: none;
    color: black;
    cursor: pointer;
    font-size: 2cqw;
    font-family: "Playfair Display", serif;
    position: absolute;
    left: 1.5%;
    top: 2.5%;
  }
  #dropdownMenu2 {
    position: absolute;
    background-color: #f3f3f3; /* Lys grå nuance */
    background-image: radial-gradient(circle, rgb(255, 196, 0) 10%, rgba(0, 0, 0, 0.45) 100%);
    background-blend-mode: multiply;
    background-size: cover;
    min-height: 100vh;
    opacity: 95%;
    top: 0%;
    right: 0px;
    overflow: hidden;
    font-family: "Playfair Display", serif;
    display: none; /* Starter skjult */
    width: 100vw;

    z-index: 999;
  }
  #dropdownMenu2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #dropdownMenu2 ul li a {
    display: block;
    color: black;
    text-decoration: none;
    font-size: 4cqw;
    font-family: "Playfair Display", serif;
    z-index: 1000;
    margin-top: 6%;
  }
  #dropdownMenu2 :hover {
    display: block;
    color: black;
    font-size: 5cqw;
    font-weight: 500;
    font-family: "Playfair Display", serif;
  }

  /* forside menu */
  #menuButton {
    background: none;
    border: none;
    color: #f3f3f3;
    cursor: pointer;
    font-size: 2cqw;
    font-family: "Playfair Display", serif;
    position: absolute;
    bottom: 43%;
    left: 1%;
  }

  #dropdownMenu {
    position: absolute;
    top: 55%;
    overflow: hidden;
    font-family: "Playfair Display", serif;
    display: none; /* Starter skjult */
    text-align: left;
    z-index: 1000;
  }
  #dropdownMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  #dropdownMenu ul li a {
    display: block;
    color: #f3f3f3a0;
    text-decoration: none;
    font-size: 1.5cqw;
    font-weight: 100;
    font-family: "Playfair Display", serif;
  }

  /* skrifttyper */
  h1 {
    font-family: "Playfair Display", serif;
    font-weight: 100;
    font-size: 2cqw;
    position: absolute;
    color: #f3f3f3;
    bottom: 50%;
    left: 1%;
    text-align: left;
  }

  h2 {
    font-family: "Playfair Display", serif;
    font-style: italic;
    font-weight: bolder;
    text-align: center;
    font-size: 5cqw;
    padding: 40px;
  }

  h3 {
    font-family: "Bodoni Moda", serif;
    font-style: italic;
    font-weight: 800;
    text-align: center;
    font-size: 7cqw;
  }

  p {
    font-family: "Roboto", serif;
    line-height: 150%;
    font-size: 1.3cqw;
  }
  /* general indhold */
  #indhold {
    padding: 200px;
    margin: 200px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }
  /* index indhold */
  #indhold1 {
    padding: 200px;
    margin-top: 0px;
    padding-top: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
  }
  /* om mig på desk. for at lave to kolonner, som mobil ikke indeholder */
  .content-section {
    display: flex;
    margin-bottom: 50px;
  }

  .billeder {
    flex: 1;
    padding: 50px;
    margin-top: 150px;
  }

  .ommig,
  .cv {
    flex: 2;
    padding: 0 20px;
  }
  /* sektion under forsiden, lottiefile */
  .hunde {
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    width: 1050px;
    height: 600px;
    left: 50%;
    transform: translateX(-50%);
    /* transform sikre at det er lige i midten */
  }

  /* billedtekst */
  .links {
    text-decoration: none;
    color: #474747;
    font-family: roboto;
    font-size: 1cqw;
    font-style: italic;
  }

  /* list, så det tekst jeg har i punktform */
  li {
    font-family: "Roboto", serif;
    line-height: 150%;
    font-size: 1.3cqw;
  }
  /* min løsning knap */
  .site {
    text-decoration: none;
    color: #000000;
    font-family: "Playfair Display", serif;
    font-size: 1.5cqw;
    font-weight: bold;
  }
  /* pile */
  .next {
    font-size: 5cqw;
    font-weight: 100;
    font-family: "Bodoni Moda", serif;
    padding-left: 300px;
    padding-right: 300px;
  }
}
