* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}
/* standart reset */
/* Style til pauseskærmen til om mig*/
#pause {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  background-image: radial-gradient(circle, #cd6979 10%, #656584 100%);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 4cqw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 1500;
  color: white;
}

#pause.show {
  opacity: 98%;
  pointer-events: all;
}

#pause2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f3f3f3;
  background-image: radial-gradient(circle, rgb(255, 196, 0) 10%, rgba(0, 0, 0, 0.45) 100%);
  background-blend-mode: multiply;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  font-size: 4cqw;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease;
  z-index: 1500;
  color: white;
}

#pause2.show {
  opacity: 98%;
  pointer-events: all;
}
/* om mig sektion på forsiden */
/* animation */
@keyframes slide-across {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-500%);
  }
}
/* teksten i banneret - white-space gør så den ik laver flere linjer. z-index for at teksten kommer under billedet */
.banner {
  position: relative;
  left: 0%;
  width: 100%;
  font-size: 10cqw;
  font-weight: 100;
  font-family: "Bodoni Moda", serif;
  color: rgb(0, 0, 0);
  padding: 100px 0;
  padding-left: 100px;
  white-space: nowrap;
  animation: slide-across 25s linear infinite;
  z-index: 200;
  text-decoration: none;
}
/* billede af sky, som ligger over banneret */
.sky {
  position: relative;
  z-index: 300;
  width: 100%;
  height: 158px;
}
.kontakt {
  font-family: "Roboto", serif;
  line-height: 150%;
  font-size: 3.5cqw;
  text-decoration: none;
  color: black;
}
.kontakt1 {
  font-family: "Roboto", serif;
  line-height: 150%;
  font-size: 3.5cqw;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
/* 2 forskellige svg af tidslinje til mobil og desktop i om mig. så det ene er blokeret i mobil og omvendt*/
.tidslinje-mobil {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  display: block;
  opacity: 70%;
}

.tidslinje-desk {
  display: none;
}

/* projekter menuen */
/* containeren */
#projekter {
  text-align: left;
  margin: 60px 10px;
}
/* så der ik kommer list dots på */
#projekter ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
/* streger */
#projekter li {
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding: 40px 40px;
  position: relative;
}

/* skriften */
#projekter a {
  font-family: "Bodoni Moda", serif;
  font-size: 6cqw;
  font-weight: 800;
  font-style: italic;
  color: black;
  text-decoration: none;
  position: relative;
}
/* placering af svg */
#projekter a::before {
  content: "";
  position: absolute;
  top: -20px;
  left: -10px;
  width: calc(100% + 20px);
  height: calc(100% + 40px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}
/* så svg forsvinder */
#projekter a:hover::before {
  opacity: 0;
}

/* 4 forskellige svg */

#projekter .link-web::before {
  background-image: url("svg/02.svg");
  background-size: 320px 300px;
  left: 0%;
  background-repeat: no-repeat;
  padding-left: 40px;
}

#projekter .link-ux::before {
  background-image: url("svg/03.svg");
  background-size: 320px 300px;
  left: -3%;
  background-repeat: no-repeat;
  padding-left: 40px;
}

#projekter .link-animation::before {
  background-image: url("svg/04.svg");
  background-size: 150px 300px;
  left: -1%;
  background-repeat: no-repeat;
  padding-left: 40px;
}

#projekter .link-content::before {
  background-image: url("svg/05.svg");
  background-size: 340px 300px;
  left: -3%;
  background-repeat: no-repeat;
  padding-left: 40px;
  height: calc(100% + 38px);
}

/* underoverskrift */
h4 {
  font-size: 4cqw;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 600;
  padding-bottom: 10px;
}
/* mine projekter tekst */
h6 {
  font-size: 3.5cqw;
  color: black;
  font-family: "Playfair Display", serif;
  font-weight: 100;
}
/* pasta der rotere på animation siden */
.svg {
  width: 15%;
  height: 10%;
  place-self: center;
  opacity: 80%;
  transform-origin: center;
  animation: rotateAnimation 10s linear infinite;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(10deg);
  }
  to {
    transform: rotate(-40deg);
  }
}
/* lottiefile til passionssite */
.gun {
  width: 100%;
  height: 100%;
  align-items: center;
  opacity: 80%;
}
/* audio, mp3 til ux/ui site */
.lyd {
  align-items: center;
  padding: 20px;
}

.punkter {
  padding-left: 15px;
  padding-top: 12px;
}

/* her er skærmen mindre end mobil på desktop. så hvis man sidder med sin fysiske mobil er der ingen krudseduller, da hover jo ik virker der og vil forværre brugeroplevelsen */
@media only screen and (max-width: 428px) {
  /* projekter menuen */
  #projekter {
    text-align: left;
    margin: 60px 10px;
  }

  #projekter ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* streger */
  #projekter li {
    display: flex;
    align-items: center;
    border-bottom: 1px solid black;
    padding: 40px 40px;
    position: relative;
  }

  /* skrift */
  #projekter a {
    font-family: "Bodoni Moda", serif;
    font-size: 5cqw;
    font-weight: 800;
    font-style: italic;
    color: black;
    text-decoration: none;
    position: relative;
  }
  /* placering af svg */
  #projekter a::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 40px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  /* så svg forsvinder */
  #projekter a:hover::before {
    opacity: 0;
  }

  /* 4 forskellige svg */

  #projekter .link-web::before {
    background-image: url("svg/02.svg");
    background-size: 320px 300px;
    left: 0%;
    background-repeat: no-repeat;
    padding-left: 40px;
    display: none;
  }

  #projekter .link-ux::before {
    background-image: url("svg/03.svg");
    background-size: 320px 300px;
    left: -3%;
    background-repeat: no-repeat;
    padding-left: 40px;
    display: none;
  }

  #projekter .link-animation::before {
    background-image: url("svg/04.svg");
    background-size: 150px 300px;
    left: -1%;
    background-repeat: no-repeat;
    padding-left: 40px;
    display: none;
  }

  #projekter .link-content::before {
    background-image: url("svg/05.svg");
    background-size: 340px 300px;
    left: -3%;
    background-repeat: no-repeat;
    padding-left: 40px;
    height: calc(100% + 38px);
    display: none;
  }
}
/*over 600-800px bredde, så tablet indtil det blir desktop*/
@media (min-width: 600px) and (max-width: 1024px) {
  /* Style til pauseskærmen til om mig*/
  #pause {
    font-size: 1.5cqw;
  }
  #pause2 {
    font-size: 1.5cqw;
  }
  /* om mig sektion på forsiden */
  /* teksten i banneret - white-space gør så den ik laver flere linjer. z-index for at teksten kommer under billedet */
  .banner {
    font-size: 7cqw;
    padding: 400px 0;
    margin-bottom: -100px;
    animation: slide-across 38s linear infinite;
  }
  .kontakt {
    font-size: 2cqw;
  }
  .kontakt1 {
    font-size: 2.5cqw;
  }
  /* 2 forskellige svg af tidslinje til mobil og desktop i om mig. så det ene er blokeret i mobil og omvendt*/
  .tidslinje-mobil {
    display: none;
  }

  .tidslinje-desk {
    width: 100%;
    height: 100%;
    padding: 80px;
    background-repeat: no-repeat;
    display: block;
    opacity: 70%;
  }

  /* projekter menuen */
  /* så der ik kommer list dots på */
  /* streger */
  /* skriften */
  #projekter a {
    font-size: 5cqw;
  }
  /* placering af svg */
  /* så svg forsvinder */
  /* 4 forskellige svg */

  #projekter .link-web::before {
    background-image: url("svg/02.svg");
    background-size: 390px 300px;
    left: 0%;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  #projekter .link-ux::before {
    background-image: url("svg/03.svg");
    background-size: 420px 300px;
    left: 0%;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  #projekter .link-animation::before {
    background-image: url("svg/04.svg");
    background-size: 190px 300px;
    left: -1%;
    background-repeat: no-repeat;
    padding-left: 40px;
  }

  #projekter .link-content::before {
    background-image: url("svg/05.svg");
    background-size: 470px 300px;
    left: 1%;
    background-repeat: no-repeat;
    padding-left: 40px;
    height: calc(100% + 38px);
  }

  /* underoverskrift */
  h4 {
    font-size: 2.6cqw;
  }
  /* mine projekter tekst */
  h6 {
    font-size: 2cqw;
  }
  /* pasta der rotere på animation siden */
  .svg {
    width: 10%;
  }
  /* lottiefile til passionssite */
  .gun {
    margin-left: 30%;
  }
  /* audio, mp3 til ux/ui site */
  .lyd {
    margin-left: 30%;
  }
  .punkter {
    padding-left: 19px;
  }
}
/*over 1025px bredde, så desktop*/
@media (min-width: 1025px) {
  /* Menu med mine projekter */
  #projekter {
    text-align: center;
    margin: 60px 10px;
  }

  #projekter ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  /* streger */
  #projekter li {
    display: flex;
    border-bottom: 1px solid black;
    padding: 60px 60px;
    position: relative;
  }
  /* skrift */
  #projekter a {
    font-family: "Bodoni Moda", serif;
    font-size: 4.5cqw;
    font-weight: 800;
    font-style: italic;
    color: black;
    text-decoration: none;
    position: relative;
  }
  /* placering af svg */
  #projekter a::before {
    content: "";
    position: absolute;
    top: -20px;
    left: -10px;
    width: calc(100% + 20px);
    height: calc(100% + 50px);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
  }
  /* så svg forsvinder */
  #projekter a:hover::before {
    opacity: 0;
  }
  /* 4 forskellige svg til de forskellige titler */
  #projekter .link-web::before {
    background-image: url("svg/02.svg");

    background-size: 800px 700px;
    left: 5%;
    background-repeat: no-repeat;
  }

  #projekter .link-ux::before {
    background-image: url("svg/03.svg");

    background-size: 800px 700px;
    left: 2%;
    background-repeat: no-repeat;
  }

  #projekter .link-animation::before {
    background-image: url("svg/04.svg");

    background-size: 400px 700px;
    left: 8%;
    background-repeat: no-repeat;
  }

  #projekter .link-content::before {
    background-image: url("svg/05.svg");
    height: calc(100% + 40px);
    background-size: 900px 700px;
    left: 3%;
    background-repeat: no-repeat;
  }
  /* underoverskrifter */

  h4 {
    font-size: 2cqw;
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: 600;
  }
  /* mine projekter titel */

  h6 {
    font-size: 2cqw;
    color: black;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    text-align: start;
  }

  /* To forskellige svg  */
  /* her er mobil blokeret og en anden svg blir vist, som er lowkey det samme, den ligger bare ned */
  .tidslinje-mobil {
    display: none;
  }

  .tidslinje-desk {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    display: block;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 10px;
    opacity: 70%;
  }
  /* lottiefile */
  .gun {
    width: 100%;
    height: 100%;
    align-items: center;
    transform: translateX(100%);
    opacity: 80%;
  }
  /* pasta */
  .svg {
    width: 15%;
    height: 10%;
    align-items: center;
    opacity: 80%;
    transform-origin: center; /* Sørg for, at rotationen sker fra midten */
    animation: rotateAnimation 10s linear infinite; /* Kontinuerlig rotation */
  }

  @keyframes rotateAnimation {
    from {
      transform: rotate(10deg);
    }
    to {
      transform: rotate(-40deg);
    }
  }
  /* sang til emnesite */
  .lyd {
    align-items: center;
    padding-left: 35%;
    padding-top: 10%;
  }
  /* om mig sektion på forsiden */
  @keyframes slide-across {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-300%);
    }
  }

  .banner {
    position: relative;
    left: 0%;
    width: 100%;
    height: 100%;
    font-size: 8cqw;
    font-weight: 100;
    font-family: "Bodoni Moda", serif;
    color: rgb(0, 0, 0);
    padding-left: 100px;
    white-space: nowrap; /* Forhindrer linjeskift */
    animation: slide-across 35s linear infinite;
    z-index: 200;
    text-decoration: none;
    bottom: 120px;
  }
  .sky {
    position: relative;
    z-index: 300;
    left: 10%;
    width: 80%;
    height: 8px;
    padding-bottom: 850px;
  }
  .kontakt {
    font-family: "Roboto", serif;
    line-height: 150%;
    font-size: 1.3cqw;
    text-decoration: none;
    color: black;
  }
  .punkter {
    padding-left: 20px;
    padding-top: 15px;
  }
  #pause {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    background-image: radial-gradient(circle, #cd6979 10%, #656584 100%);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 1cqw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1500;
    color: white;
  }

  #pause.show {
    opacity: 98%;
    pointer-events: all;
  }

  #pause2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f3;
    background-image: radial-gradient(circle, rgb(255, 196, 0) 10%, rgba(0, 0, 0, 0.45) 100%);
    background-blend-mode: multiply;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    font-size: 1cqw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.5s ease;
    z-index: 1500;
    color: white;
  }

  #pause2.show {
    opacity: 98%;
    pointer-events: all;
  }
}
